.thing {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    position: absolute;
    border-radius: 50%;
}

/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}

/*add the image of the eating baby*/
#thing0 {
    background-image: url('eatingbaby.png');
    background-size: contain; /*image fits inside the box*/
    background-repeat: no-repeat; /*show the image only once*/
    background-position: center; /*center the image*/
    background-color: transparent;
    border-radius: 0;
}